.todoListMain .header .todos {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #FFF;
  width: 500px;
}

input[type="checkbox"] {
  width: 25px;
}

.todoListMain .header button {
  padding: 10px;
  font-size: 16px;
  margin: 10px;
  margin-right: 0px;
  background-color: #0066FF;
  color: #FFF;
  border: 2px solid #0066FF;
}

.todoListMain .header button:hover {
  background-color: #003399;
  border: 2px solid #003399;
  cursor: pointer;
}

.todoListMain .theList {
  list-style: none;
  padding-left: 0;
  width: 587px;
}

.todoListMain .theList li {
  color: #333;
  background-color: rgba(255, 255, 255, .5);
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
}

.todoListMain .theList li:hover {
  background-color: pink;
  cursor: pointer;
}

.todoListMain .theList button {
  padding: 8px;
  font-size: 12px;
  margin-left: 20px;
  margin-top: -7px;
  background-color: #0066FF;
  color: #FFF;
  border: 2px solid #0066FF;
  float: right;
  border-radius: 5px;
}

.todoListMain .theList button:hover {
  background-color: #003399;
  border: 2px solid #003399;
  cursor: pointer;
}


/* .switch {

} */
/*
.switch_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 25px;
  height: 5px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

input[type="checkbox"].switch {
  font-size: 30px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 2em;
  height: 0.4em;
  background: #ddd;
  border-radius: 15px;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

input[type="checkbox"].switch:checked {
  background: #0ebeff;
}

input[type="checkbox"].switch:after {
  position: absolute;
  top: 3px;
  content: "";
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
  background: #fff;
  -webkit-box-shadow: 0 0 .25em rgba(0, 0, 0, .3);
  box-shadow: 0 0 .25em rgba(0, 0, 0, .3);
  -webkit-transform: scale(.7);
  transform: scale(.7);
  left: 0;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

input[type="checkbox"].switch:checked:after {
  left: calc(100% - 0.5em);
} */